@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&family=Tillana:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: 'Tillana', sans-serif;
    color: #fff;
}

/* header logo */

#header-logo {
    height: 100px;
    margin-left: 20px;
}

#header-logo img {
    height: 100px;
}