@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&family=Tillana:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    background: url(../images/u_symbol_dark_grey.png) fixed no-repeat center center / contain;
    background-color: #000;
    font-family: 'Tillana', sans-serif;
    color: #fff;
}

h1, h2, h3 {
    font-family: 'Skranji', sans-serif;
    line-height: 2rem;
}

/* main header */

#main-header {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
}

/* header logo */

#header-logo {
    height: 100px;
    margin-left: 20px;
}

#header-logo img {
    height: 100px;
}

/* header navigation links */

#main-menu {
    font-family: 'Skranji', sans-serif;
    font-size: 1.125rem;
    margin-right: 20px;
    padding-top: 38px;
}

#main-menu li {
    list-style-type: none;
}

#main-menu a {
    color: #fff;
    text-decoration: none;
}

#main-menu a:hover {
    color: #8b817f;
}

/* navigation menu for larger screen widths */

#main-menu-inline li {
    display: inline;
    text-align: center;
    padding: 0 10px;
}

/* drop-down navigation menu for smaller screen widths */

#main-menu-dropdown summary {
    list-style-type: none;
    text-align: right;
}

#main-menu-dropdown summary:hover {
    color: #8b817f;
    cursor: pointer;
}

#main-menu-dropdown[open] summary {
    color: #8b817f;
}

#main-menu-dropdown li {
    text-align: center;
    padding: 5px 0;
}

/* active links */

.active-link {
    text-transform: uppercase;
    border-bottom: double #fff;
}

/* homepage */

#homepage-main-content {
    height: 100vh;
    overflow: hidden;
}

#homepage-hero-image {
    background: url(../images/band_outside_sin_e.jpg) fixed no-repeat center center / cover;
    height: 100vh;

    display: flex;
    justify-content: center;
}

/* homepage call to action insert */

#call-to-action {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100px;
    width: 300px;
    border-radius: 10px;
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    
}

#call-to-action a {
    color: #fff;
    text-decoration: none;
}

#call-to-action a:hover {
    color: #8b817f;
}

#call-to-action img {
    height: 100px;
    width: 100px;
    padding: 5px;
}

#call-to-action div {
    float: right;
    width: 200px;
    padding: 10px;
    text-align: center;
    font-size: 1.125rem;
}

#call-to-action span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
}

#call-to-action p:nth-of-type(2) {
    font-weight: 700;
    text-transform: uppercase;
}

#call-to-action i {
    padding: 0 9px;
}

/* band bio page */

#band-bio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#band-bio a {
    color: #fff;
}

#band-bio a:hover {
    color: #8b817f;
}

/* heading */

#band-bio-head {
    margin: 120px auto 20px;
}

#band-bio-head h2 {
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

#band-bio-head p {
    padding: 0 20px;
    font-size: 0.75rem;
    font-weight: 700;
    text-align: center;
}

#band-bio-head img {
    margin-top: 20px;
    width: 100vw;
}

/* foreword */

#band-bio-foreword {
    margin: 10px 20px;
}

#band-bio-foreword div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* band members */

#band-members {
    margin: 10px 20px;
}

#band-members div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#band-members img {
    border-radius: 50%;
}

#paul-bio div, #moe-bio div {
    flex-direction: row-reverse;
    text-align: right;
}

/* afterword */

#band-bio-afterword {
    margin: 10px 20px;
    font-size: 1.125rem;
}

#band-bio-afterword p:nth-of-type(6) {
    padding: 30px 0 10px 0;
    text-align: center;
    text-transform: uppercase;
}

#band-bio-afterword div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#band-bio-afterword div h3 {
    font-weight: 400;
    text-decoration: none;
}

/* general band page styling */

.band-bio-body p {
    padding: 10px 0;
    font-size: 1.125rem;
}

.band-bio-body h3 {
    padding-top: 10px;
    font-weight: 400;
    text-align: center;
}

/* band page main body images */

.bio-image {
    width: 33%;
    margin: 10px;
    border-radius: 20px;
}





/* footer */

footer {
    background-color: #000;
    height: 100px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    line-height: 3rem;
    margin: 1% 0;
    padding: 0 5%;
    color: #fff;
}

.social-networks i:hover {
    color: #8b817f;
}

#copyright-statement {
    font-family: 'Skranji', sans-serif;
    color: inherit;
    font-size: 0.9rem;
    line-height: 1.5rem;
    text-align: center;
}



/* media queries */

/* for medium-sized screens, up to 800 pixels wide */

@media screen and (min-width: 801px) {

    #main-menu-dropdown {
        display: none;
    }
    
}

@media screen and (max-width: 800px) {
    
    #main-menu-inline {
        display: none;
    }

}

/* for smaller screens, 600 pixels wide or less */

@media screen and (max-width: 600px) {

    #main-menu {
        font-size: 0.875rem;
    }
    
    .social-networks i {
        font-size: 87.5%;
    }
}
