@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&family=Tillana:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: 'Tillana', sans-serif;
    color: #fff;
}

/* main header */

#main-header {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.fixed-header {
    position: fixed;
}

/* header logo */

#header-logo {
    height: 100px;
    margin-left: 20px;
}

#header-logo img {
    height: 100px;
}

/* header navigation links */

#main-menu {
    font-family: 'Skranji', sans-serif;
    font-size: 1.125rem;
    margin-right: 20px;
    padding-top: 38px;
}

#main-menu li {
    list-style-type: none;
    display: inline;
    text-align: center;
    padding: 0 10px;
}

#main-menu a {
    color: #fff;
    text-decoration: none;
}

#main-menu a:hover {
    color: #8b817f;
}

#homepage-main-content {
    height: 100vh;
    overflow: hidden;
}

#homepage-hero-image {
    background: url(../images/band_outside_sin_e.jpg) fixed no-repeat center center / cover;
    height: 100vh;
}

